{% load static %}
{% load wagtailcore_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
<footer class="page-footer">
  <div style="background-color: black;" class="row container center-align">
      <a id="logo-container" href="{% pageurl request.site.root_page %}" class="footer-logo col l3 s12">
      </a>
        {% include 'subscribeform.html' %}
         <div class="col l3 s12">
           <a id="instagram" target="_blank" href="https://www.instagram.com/jointheassembly/" class="footer-social col"></a>
           <a id="twitter" target="_blank" href="https://twitter.com/jointheassembly/" class="footer-social col"></a>
           <a id="youtube" target="_blank" href="https://www.youtube.com/channel/UCuNmk_rmzhTopp5s_TWOI5A" class="footer-social col"></a>
           <a id="facebook" target="_blank" href="https://www.facebook.com/JoinTheAssembly/" class="footer-social col"></a>
         </div>

  </div>
  <script src="{% static 'js/subscription_form.js' %}"></script>
</footer>
