{% load static %}
{% load wagtailcore_tags %}
<nav>
   <div class="nav-wrapper container">
     <a id="logo-container" href="{% pageurl request.site.root_page %}" class="brand-logo">
     </a>
     <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
     <ul class="right hide-on-med-and-down">
       <li><a class="modal-trigger" href="#submodal">SUBSCRIBE</a></li>
       <li><a href="/about-the-assembly">ABOUT</a></li>
       <li><a href="/whats-on-your-mind">WHAT'S ON YOUR MIND?</a></li>
     </ul>
   </div>
 </nav>

 <ul class="sidenav" id="mobile-demo">
   <li><a class="modal-trigger" href="#submodal">SUBSCRIBE</a></li>
   <li><a href="/about-the-assembly">ABOUT</a></li>
   <li><a href="/whats-on-your-mind">WHAT'S ON YOUR MIND?</a></li>
 </ul>

 <div id="submodal" class="modal">
    <div class="modal-content">
      <p>You’re on our website, but not subscribed? We’re not mad, just disappointed!
        If you subscribe now, we promise we’ll send you our current favorite GIF.</p>
        <div id="modalinput" class="row">
          <form class="col s12">
              <div class="input-field col s12">
                <input id="modalemail" placeholder="Join the Assembly" type="email" class="validate">
                <label for="modalemail">Email</label>
                <span id="modal-helper-text" class="helper-text">
                  By subscribing, you agree to receive email updates and marketing from us,
                  and accept our Terms and Conditions and Privacy Policy.
                </span>
              </div>
          </form>
        </div>
    </div>
    <div class="modal-footer">
      <a id="modalsubmit" href="/" class="btn">SUBSCRIBE</a>
    </div>
  </div>
  <script src="{% static 'js/nav_modal.js' %}"></script>
