@font-face {
    font-family: 'FuturaT-Bold';
    src: url('../fonts/FuturaT-Bold.woff2') format('woff2'),
        url('../fonts/FuturaT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Heavy';
    src: url('../fonts/Futura-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaBT-Medium';
    src: url('../fonts/FuturaBT-Medium.woff2') format('woff2'),
        url('../fonts/FuturaBT-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-MediumItalic';
    src: url('../fonts/Futura-MediumItalic.woff2') format('woff2'),
        url('../fonts/Futura-MediumItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Heavy.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Black';
    src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


html{
  background-color: #FFF9E9;
}


html,
body {
 height: 100%;
 position: relative;
}


nav{
  background-color: #fafafa;
}

nav ul a{
  color: #2A272C;
  font-family: "Futura-Heavy", Futura-Heavy;
  font-weight: bold;
  letter-spacing: 1.6px;
  font-size: 12.2px;
  padding: 0px 35px;
}

nav a{
  color: #2A272C;
}

.brand-logo {
  background-image: url('/static/img/logo.png');
  background-size: contain;
  width: 155px;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.modal .modal-footer{
  text-align: center;
  height: 80px;
  background-color: black;
}

.modal #modalsubmit {
  background-color: black;
  border-radius: 0px;
  border: 5px solid #E9BC18;
  font-family: "Futura-Heavy", Futura-Heavy;
  color: #E9BC18 !important;
  height: 42px;
  width: 150px;
  line-height: 32px;
}

.modal-content{
  color: #E9BC18;
  font-family: 'Avenir LT Std', Avenir LT Std;
}

.modal{
  background-color: black;
}

.modal .helper-text{
  color: #B7B8B7;
}

#modalemail{
  color: #B7B8B7;
}

mark{
  background-color: #EDC442;
}

h2{
  text-transform: uppercase;
  margin: 5px 0px 0px 0px;
  font-size: 2.5rem;
  font-family: "FuturaT-Bold", FuturaT-Bold;
  color: #0A0B08;
}

h3{
  font-family: "FuturaBT-Medium", FuturaBT-Medium;
  margin: 0;
  color: #404040;
  font-size: 1.2rem;
}
