.categorytag{
  height: 25px;
  background-color: #FFF1C0;
  font-family: "Futura-Heavy", Futura-Heavy;
  color: #0A0B08;
  line-height: 28px;
  border-radius: 0;
}

.categorytag:hover{
  background-color: #FDF9EE;
}

.homepageline{
  border-style: inset;
  border: 2px solid black;
  color: white;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.featuredimg{
  margin-left: 70px;
  height: 260px;
  box-shadow: -22px 22px #a0a0a0;
  width: auto;
}

.featuredstory{
  margin-top: 50px;
  margin-bottom: 25px;
  min-height: 300px;

}
.featuredcard{
  align-self: center;
  background-color: #EDC442;
  padding: 45px 35px 45px 45px;
}

.featuredcard h3{
  line-height: 22px;
}

.featuredauthor{
  color: white;
  letter-spacing: 1px;
  font-family: "Futura-Heavy", Futura-Heavy;
}

.featuredcardwrapper{
  background: linear-gradient(90deg, #fff9e800 18%, #0A0B08 0%);
  height: 350px;
  display: flex;
  justify-content: center;
  padding-right: 3% !important;
  padding-left: 0 !important;

}

.featuredline{
  border-style: inset;
  border: 2px solid white;
  color: white;
  margin-right: 30%;
  margin: 15px 0px 15px 0px;
}

.featuredimgwrapper{
  padding-top: 45px !important;
}

.frontpagestory h3{
  line-height: 22px;
}

.frontpageauthor{
  color: white;
  letter-spacing: 1px;
  font-family: "Futura-Heavy", Futura-Heavy;
}

.frontpagestory h2{
  line-height: 1.5;
  max-width: 380px;
  font-size: 1.6rem;
}
.frontpagestory{
  min-height: 260px !important;
  padding: 25px !important;
}

@media only screen and (max-width: 1210px){
  .featuredcard{
    padding:40px 35px 40px 35px !important;
  }
}

@media only screen and (max-width: 1180px){
  .featuredcardwrapper{
    width:360px !important;
  }

  .featuredimg{
    margin-left:0px !important;
  }
  .featuredstory{
    padding-left: 10px;
  }
}

@media only screen and (max-width: 1110px){
  footer .container{
    width: 100%
  }
}

@media only screen and (max-width: 992px){
  .featuredstory{
    text-align: center;
    justify-content: center;
    padding: 0px;
    background-color: #EDC442;
  }
  .featuredimg{
    max-width:100%;
    max-height:100%;
    box-shadow: none !important;
  }
  .featuredcardwrapper{
    height: auto !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: 100% !important;
    background: #EDC442;
  }
}


.storypage{
  max-width: 800px;
  width: 80%;
  margin: 0 auto;
  margin-top: 65px;
  padding-bottom: 100px;
}

.storypage .published_date{
  font-family: 'Avenir LT Std', Avenir LT Std;
  display: inline-block;
  font-size:18.75px;
  height:36px;
  letter-spacing:0.5px;
  line-height:36px;
  padding-left:16px;
  padding-right:16px;
  padding-top:0px;
  text-align:center;
  text-size-adjust:100%;
  vertical-align:baseline;
  position: relative;
  top:3px;

}

.storypage h2{
  font-size: 3.9rem;
  letter-spacing: -1px;
  margin: 20px 0px;
  text-transform: none;
}

.storypage h3{
  color: #6A6A6A;
  font-size: 1.7rem;
  line-height: 2.5rem;
  margin: 25px 0px;
  font-family: 'Avenir LT Std', Avenir LT Std;
}

.storypage .categorytag{
  background-color: #EDC442;
  font-size: 1.25rem;
  width:100px;
  line-height: 34px;
  height: 30px;
}

.storypage .categorytag:hover{
  background-color: #FFF1C0;
}

.storypage .featuredline{
  border: 2px solid #EDC442;
  margin: 5px 0px 20px 0px;
}

.storypage .featuredauthor{
  color: #6A6A6A;
  letter-spacing: 0px;
  font-size: 1.15rem;
  font-family: "Futura-MediumItalic", Futura-MediumItalic;
}

.storypage .mainimage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  height: auto;
  margin-bottom: 60px;
}

.storypage .block-image_block{
  text-align: center;
  margin: 50px 0px;
}
.block-image_block img{
  width:100%;
  height:auto;
}

.storypage p{
  margin: 0 auto;
  margin-bottom: 30px;
  width: 85%;
  font-family: 'Avenir LT Std', Avenir LT Std;
  font-size: 1.2rem;
  line-height: 30px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
.storypage blockquote{
  font-size: 1.4em;
  width:75%;
  margin:50px auto;
  font-family: 'Avenir LT Std', Avenir LT Std;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #EDC442 ;
  line-height:1.6;
  position: relative;
  background: #FFF3D1;
}

.storypage blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#EDC442;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

.storypage blockquote::after{
  content: '';
}

.storypage blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:.5em;
}

.block-heading_block h2{
  font-size: 3rem;
  letter-spacing: 0px;
  margin: 70px 0px;

}

.block-heading_block h3{
  font-family: "Futura-Heavy", Futura-Heavy;
  font-size: 2.5rem;
    margin: 40px 0px;
}

.block-heading_block h4{
  font-family: "Futura-Heavy", Futura-Heavy;
  font-size: 2rem;
  margin: 30px 0px;
}

.rich-text img{
  max-width: 800px;
  max-height: 450px;
  width: 100%;
  height: auto;
  display: block;
}

.video-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.video-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
