{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load helper_tags %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/stories.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

<div class="title_container">
  <h1 class="issue_title">{{ page.title }}</h1>
  <h4 class="issue_title" style="font-size: 15px">{{ page.date_published }}</h4>
</div>
<div class="frontpagestories">
{% for story in page.child_stories %}

    {% include 'blocks/front_page_story.html' with story=story count=forloop.counter %}

{% endfor %}
</div>

{% endblock %}
