{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load helper_tags %}
{% load static %}

{% block meta %}
<meta property="og:title" content="{{ page.title }}">
<meta property="og:description" content="{{ page.introduction }}">
{% image page.image original as mainimage %}
<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ mainimage.url }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:description" content="{{ page.introduction }}">
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ mainimage.url }}">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block extra_css %}
<link href="{% static 'css/stories.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="storypage">

  <div class="row">
    <a href="{{ page.get_parent.url }}">{% include 'blocks/category.html' with category=page.get_parent %}</a>
    <span class="published_date">{{ page.date_published }}</span>
  </div>

  <h2>{{ page.title }}</h2>
  <h3>{{ page.introduction }}</h3>
  <span class="featuredauthor">by {% unwrap_authors page.authors %}</span>

  <hr class="featuredline">

  {% image page.image original class="mainimage" %}

  <div class="storyblocks">
    {{ page.body }}
  </div>

</div>

{% endblock %}
