{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load helper_tags %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/stories.css' %}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
<div class="storypage">

  <div class="row">
    {% include 'blocks/category.html' with category=page.get_parent %}
    <span class="published_date">{{ page.date_published }}</span>
  </div>

  <h2>{{ page.title }}</h2>
  <h3>{{ page.introduction }}</h3>
  <span class="featuredauthor">by {% unwrap_authors page.authors %}</span>

  <hr class="featuredline">

  {% image page.image original class="mainimage" %}

  <div class="storyblocks">
    {{ page.body }}
  </div>

</div>

{% endblock %}
