{% load wagtailcore_tags wagtailimages_tags helper_tags%}
<a href="{{ story.url }}">
  <div class="frontpagestory" style="
  {% if story.image %}
    {% image story.image width-800 as my_image %}

    background: url({{ my_image.url }}) no-repeat;
    background-size: 100% 100%;
  {% else %}
    background-color:black
  {% endif %};">
    <div>
      {% include 'blocks/category.html' with category=story.get_parent %}
        <h2><mark>{{ story.title }}</mark></h2>
        <h3><mark>{{ story.introduction }}</mark></h3>
        <mark><span class="frontpageauthor">by {% unwrap_authors story.authors %}</span></mark>
    </div>
    </div>
<a>
